:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #fff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


#drawWrap {
    margin: 5px; 
    border: 1px solid; 
    padding: 5px;
}

nav {
    width: 300px;
    height: 605px;
    padding: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f7f4;
    gap: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s;
    
}

#listNav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

li {
    margin-top: 10px;
    display: block;
}

#listNav button, button {
    width: 130px;
    height: 2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    background: #f3f7f4;
    border: none;
    font-size: 16px ;
    color: black;
}

button {
    width: 11.4rem;
    background: var(--primary);
    color: white;
    background: #2d892d;;
}

button:hover {
    color: var(--white);
}
button:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

.clear {
    background: #ff014c !important;
    color: white !important;
}
.clear:hover {
    color: white;
}
.clear:active {
    box-shadow: inset 0.2rem 0.2rem 1rem #eb0e68, inset -0.2rem -0.2rem 1rem #432222;
}


#listNav button:hover {
    color: var(--primary);
}
#listNav button:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btn p {
    font-size: 1.6rem;
}

#affine, #proectional {
    display: none;
}

#affine div, #proectional div{
    margin: 5px;
}

#linear:only-child {
    margin-top: 20px;
}

#move, #rotate, #gridParametrs{
    display: flex;
    flex-direction: column;
    align-items: center;;
    gap: 10px;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

.inputWithLabel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

p {
    font-size: 1.4rem;
}

input {
    width: 3rem;
    height: 2rem;
    border: none;
    font-size: 1.1rem;
    padding-left: 1.1rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}
input::placeholder {
    color: var(--greyLight-3);
}
input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
